/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Pacifico&family=Poppins:wght@300;400;700&display=swap');

/*===== Global =====*/
*{
	box-sizing: border-box;
}
/* variables */
:root{
	--primary: #FFC636;
	--secondary: #0A0B5B;
	--lightGreen-1: #d6e5d8;
	--lightGreen-2: #f5fcf4;
	--black-2: #3f3c3c;
	--black-1: #3b4131;

}
/* reset */
body, p, a, ul, li{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li{
	list-style-type: none;
}

/* base styles */
body{
	background: var(--lightGreen-2);
	overflow-x: hidden;
}

.button{
	background: var(--secondary);
	border: 2px solid var(--secondary);
	color: var(--primary);
	padding: 6px 12px;
	border-radius: 20px;
	text-transform: uppercase;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0, 6);
	display: inline-block;
}
.button:hover{
	color: #fc036b;
	background: var(--primary);
}

input, textarea{
	background: ;
	padding: 10px 16px;
	border-radius: 20px;
}
/* font */
h1, h2, h3, h4{
	color: var(--black-2);
	font-weight: normal;
}
p, a, li{
	color: var(--black-1);
}
h1, h3{
	font-size: 1.6em;
}
h2{
	font-size: 1.6em;
}
h4{
	font-size: 1.1em;
}
.leading{
	font-size: 1.1em;
}

/* navbar */
.topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #04AA6D;
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }

/* end navbar */

/* mobil style */
.grid{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 10px;
}
#welcome{
	padding: 0 20px 20px 20px;
}
.welcome-text{
	grid-column: 1/6;
}
.welcome-img{
	grid-column: 6/9;
}
.welcome-img img{
	width: 150%;
}
.welcome-text a{
	margin: 20px 0;
}
#home{
    padding:30px 20px;
}
#home h3{
    margin-bottom: 0;
    text-align: center;
}
.fruits a{
	background: var(--lightGreen-1);
    grid-column: 2/12;
    margin: 20px 0;
    
}
/* .fruits a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
} */
#category{
	padding: 30px 20px;
	/* background: var(--black-1);  */
}
#category h3{
	text-align: center;
}
#category ul{
	margin: 40px 0;
}
#category li{
	/* padding: 10px; */
	background: var(--lightGreen-1);
	grid-column: span 4;
	text-align: center;
}
#category img{
	height: 130px;
	margin: 10px auto;
}
#contact{
	padding: 30px 20px;
	/* background: #080936; */
}
#contact h3, #contact p{
	text-align: center;
	margin-bottom: 0;
}
#contact form{
	width: 80%;
	max-width: 400px;
	margin: 20px auto;
	text-align: center;
}
#contact input, #contact textarea{
	width: 100%;
	margin: 10px 0;
}
#contact .button{
	margin-top: 10px;
}
footer{
	/* padding: 30px 20px;
	background-color: #14153D;
	background-image: url(./images/footer_image.png);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: top;
	background-position: center; */
}
footer .copyright{
	grid-column: 1/5;
	font-size: 0.9em;
}
footer .social{
	grid-column: 7/9;
	display: flex;
	justify-content: flex-end;
}
footer li{
	margin: 0 6px;
}
footer img{
	width: 20px;
}


/* small tablet style */
@media screen and (min-width: 620px){
	body{
		font-size: 18px;
	}
	.welcome-text{
		grid-column: 1/5;
	}
	.welcome-img{
		grid-column: 5/9;
	}
	.welcome-img img{
		width: 100%;
	}
	.fruits{
		margin-top: 40px;
	}
	.fruits a{
		grid-column: span 4;
		display: block;
		margin: 20px 0;
	}
	.fruits h4{
		text-align: center;
		align-self: center;
	}
	#category{
		padding: 30px 100px;
	}
	footer{
		background-size: 20%;
	}
}

/* large tablet & laptop style */
@media screen and (min-width: 960px){
	body{
		font-size: 18px;
	}
	.grid{
		width: 100%;
		max-width: 1060px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.leading{
		margin: 20px 0;
	}
	.welcome-text{
		align-self: center;
	}
	#welcome{
		padding-bottom: 40px;
	}
	#category{
		padding: 30px 20px;
	}
	#category ul{
		margin: 40px auto;
	}
	#category li{
		grid-column: span 2;
	}
	footer{
		padding: 40px 20px;
		background-size: 25%;
	}
}

/* desktop style */
@media screen and (min-width: 1200px){
	body{
		font-size: 20px;
	}
	#welcome, #home, #products, #contact{
		padding: 90px 0;
	}
	/* .fruits a:nth-child(1){
		grid-column: 1/3;
		
	}
	.fruits a:nth-child(3){
		grid-column: 7/9;
		
	}
	.fruits a *{
		max-width: 100%;
		margin: 30px 0;
	} */
	footer{
		padding: 80px 0;
		background-size: 30%;
	}
	footer img{
		width: 30px;
	}
	
}

/* grid testing */
.fruits{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px
}
.fruits a{
    text-align: center;
    /* background: grey; */
    padding: 20px;
}
.fruits img{
    max-width: 100%;
}

